.select-reasons {
  min-width: 240px;
}
nz-form-item{
  margin: 0;
}
.addreason {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}
.add-item {
  flex: 0 0 auto;
  padding: 8px;
  display: block;
}
