.pair{
  cursor: pointer;
  transition: transform 300ms, box-shadow 0.3s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}
.flex1{
  flex: 1;
}

.flex2{
  margin-left: 5%;
}

tr > th {
  font-size: 92%;
  text-align: center;
}
tr > td {
  text-align: center;
}
.alertBan > td {
  background-color: #ffdada !important;
}
