<strong style="font-size: 0.9rem" nz-typography >Filtrer par</strong><br>
<form nz-form  [formGroup]="filterform">
  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" style="width: fit-content; display: flex" [nzSuffix]="suffixIconSearch">
    <input style="min-width: 150px" type="text" nz-input formControlName="best" placeholder="Rechercher par nom" />
  </nz-input-group>
</form>

<div class="mt-2">
  <p>
    <strong style="font-size: 0.9rem" nz-typography >Trier par</strong><br>
    <nz-radio-group nzName="radiogroup" [(ngModel)]="sort.key" (ngModelChange)="onRadioChange($event)">
      <label nz-radio nzValue="spread_15kusd" class="mr-2">gains pour 15k$</label>
      <label nz-radio nzValue="profitMaxi_usd" class="mr-2">Profits max</label>
      <label nz-radio nzValue="spread_1usd" class="mr-2">gains pour 1$</label>
      <label nz-radio nzValue="_id" class="mr-2">date</label>
      <label nz-radio nzValue="pair" class="mr-2">nom</label>
    </nz-radio-group>
    <nz-switch nzSize="small" [ngModel]="true" nzCheckedChildren="décroissant" nzUnCheckedChildren="croissant" (click)="onChangeOrder()"></nz-switch>
  </p>
</div>

<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>

<ng-template #addOnBeforeTemplate>
  <nz-select style="width: 150px" [(ngModel)]="searchMod" >
    <nz-option nzLabel="Commence par" nzValue="startWith"></nz-option>
    <nz-option nzLabel="Termine par" nzValue="endWith"></nz-option>
  </nz-select>
</ng-template>
