
<div class="mb-2"><strong style="font-size: 0.9rem" nz-typography >Filtrer par :</strong></div>

<form nz-form  [formGroup]="filterform">
  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" style="width: fit-content; display: flex" [nzSuffix]="suffixIconSearch">
    <input style="min-width: 150px" type="text" nz-input formControlName="best" placeholder="Rechercher par nom" />
  </nz-input-group>
</form>

<section class="mt-2">
  <div>

    <strong style="font-size: 0.9rem" nz-typography >Trier par :</strong>
    <br>
    <nz-switch nzSize="small" [ngModel]="true" nzCheckedChildren="décroissant" nzUnCheckedChildren="croissant" (click)="onChangeOrder()"></nz-switch>
    <br>
    <nz-radio-group nzName="radiogroup" [(ngModel)]="checkBoxValue" (ngModelChange)="makeUpdate()">
        <label nz-radio nzValue="__isfor__" class="mr-2">spread($)</label>
        <label nz-radio nzValue="__pair__" class="mr-2">nom</label>
    </nz-radio-group>
  </div>
</section>

<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>

<ng-template #addOnBeforeTemplate>
  <nz-select style="width: 150px" [(ngModel)]="searchMod" (ngModelChange)="this.filterform.controls['best'].updateValueAndValidity({onlySelf : true})" >
    <nz-option nzLabel="Commence par" nzValue="startWith"></nz-option>
    <nz-option nzLabel="Termine par" nzValue="endWith"></nz-option>
  </nz-select>
</ng-template>
