<!--
<router-outlet ></router-outlet>
<h1>Les bests</h1>
<button class="btn btn-outline-primary" (click)="getLasts()">
  <i class="mr-2" nz-icon nzType="field-time" nzTheme="outline"></i>Actualiser(inutile)
</button>
<button class="ml-5"
        nz-button
        nzDanger
        [nzLoading]="totalCollectionBest === undefined"
        nz-popconfirm
        (nzOnConfirm)="resetBest()"
        nzOkText="oui"
        nzPopconfirmPlacement="bottom"
        nzPopconfirmTitle="Veux-tu supprimer TOUTES les données des anciens calculs ???!"
>Supprimer les données accumulées ({{totalCollectionBest}} documents)</button>

<div class="m-5">
  <button (click)="calculBests()" class="button">
    <div class="button__content">
      <div class="button__icon">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="80px" height="80px" viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
      <g>
        <path d="M64,48L64,48h-8V32h8c8.836,0,16-7.164,16-16S72.836,0,64,0c-8.837,0-16,7.164-16,16v8H32v-8c0-8.836-7.164-16-16-16
          S0,7.164,0,16s7.164,16,16,16h8v16h-8l0,0l0,0C7.164,48,0,55.164,0,64s7.164,16,16,16c8.837,0,16-7.164,16-16l0,0v-8h16v7.98
          c0,0.008-0.001,0.014-0.001,0.02c0,8.836,7.164,16,16,16s16-7.164,16-16S72.836,48.002,64,48z M64,8c4.418,0,8,3.582,8,8
          s-3.582,8-8,8h-8v-8C56,11.582,59.582,8,64,8z M8,16c0-4.418,3.582-8,8-8s8,3.582,8,8v8h-8C11.582,24,8,20.417,8,16z M16,72
          c-4.418,0-8-3.582-8-8s3.582-8,8-8l0,0h8v8C24,68.418,20.418,72,16,72z M32,48V32h16v16H32z M64,72c-4.418,0-8-3.582-8-8l0,0v-8
          h7.999c4.418,0,8,3.582,8,8S68.418,72,64,72z"/>
      </g>
      </svg>
      </div>
      <p class="button__text">calculer</p>
    </div>
  </button>
</div>

<app-filters-bests (onUpdate)="onUpdate()" [(nestedRequest)]="nestedRequest"></app-filters-bests>
<app-pagination
  [(loading)]="pagination.loading" (onUpdate)="onUpdate()"
  [total]="pagination.total"
  [(paginate)]="pagination.paginate"
  [(index)]="pagination.index"
></app-pagination>
<nz-spin [nzSpinning]="pagination.loading">
  <nz-list nzGrid class="mt-5">
    <div nz-row [nzGutter]="14" nzJustify="center">
      <div nz-col *ngFor="let best of bests;let i = index " [nzXXl]="6" [nzXl]="8" [nzLg]="12" [nzXs]="24" >

        <div class="card mb-4" style="width: 18rem;margin: auto" >
          <nz-badge [nzCount]="i + 1 + pagination.paginate.skip" [nzOverflowCount]="pagination.total">
            <div class="card-body p-0">
              <div routerLink="{{best._id}}" class="p-3" style="cursor: pointer;">
                <h5 class="card-title">{{best.pair}}</h5>
                <p class="card-subtitle mb-2 text-muted mb-1">Spread 15K$ :
                  <button nz-button nzType="primary" nzSize="small"> {{best.spread_15kusd | number : '1.0-2' | replaceBy : ',' : ' ' }} $</button>
                </p>
                <p class="card-subtitle mb-2 text-muted mb-1">Spread 1$ :
                  <button nz-button nzType="default" nzSize="small">{{best.spread_1usd | number : '1.0-2' | replaceBy : ',' : ' ' }} $</button>
                </p>
                <p class="card-subtitle mb-2 text-muted mb-1">Profits Maxi $ :
                  <button nz-button nzType="dashed" nzDanger nzSize="small">{{best.profitMaxi_usd | number : '1.0-2' | replaceBy : ',' : ' ' }} $</button>
                </p>
                <p class="card-subtitle mb-2 text-muted">Volume en $ :
                  <button nz-button nzType="primary" nzGhost nzSize="small">{{best.volume_usd | number : '1.0-2' | replaceBy : ',' : ' ' }} $</button>
                </p>
              </div>

              <div class="row" style="margin: 0">
                <a class="btn btn-outline-success " href="{{best.buy.website}}" target="_blank" style="width: 50%">
                  {{best.buy.exchange}} <br> <span class="badge badge-light">  prix :<br> {{best.buy.price}} {{best.quote}}</span>
                </a>
                <a class="btn btn-outline-warning"  style="width: 50%" href="{{best.buy.website}}" target="_blank">
                  {{best.sell.exchange}} <br> <span class="badge badge-light"> prix :<br>{{best.sell.price}} {{best.quote}}</span>
                </a>
              </div>
            </div>
          </nz-badge>
        </div>

      </div>
    </div>
  </nz-list>
</nz-spin>

<nz-empty *ngIf="pagination.total === 0"></nz-empty>
<app-pagination
  [(loading)]="pagination.loading" (onUpdate)="onUpdate()"
  [total]="pagination.total"
  [(paginate)]="pagination.paginate"
  [(index)]="pagination.index"
></app-pagination>
-->
