<strong style="font-size: 0.9rem" nz-typography >Filtrer par</strong><br>
<form nz-form  [formGroup]="filterform">
  <nz-input-group style="width: fit-content; display: flex" [nzSuffix]="suffixIconSearch">
    <input style="min-width: 150px" type="text" nz-input formControlName="market" placeholder="Rechercher par nom" />
  </nz-input-group>

  <div class="mt-2">
    <nz-radio-group class="mr-3" formControlName="banned" nzSize="small">
      <label nz-radio-button>tous</label>
      <label nz-radio-button nzValue="allowed">en service(s)</label>
      <label nz-radio-button nzValue="reported">signalé(s)</label>
      <label nz-radio-button nzValue="banned">éliminé(s)</label>
    </nz-radio-group>
  </div>
</form>

<div class="mt-2">
  <p>
    <strong style="font-size: 0.9rem" nz-typography >Trier par</strong><br>
    <nz-radio-group nzName="radiogroup" [(ngModel)]="sort.key" (ngModelChange)="makeUpdate()">
      <label nz-radio nzValue="market._id" class="mr-2">date d'ajout</label>
      <label nz-radio nzValue="market.name" class="mr-2">nom</label>
      <label nz-radio nzValue="market.exclusion.isExclude" class="mr-2">élimination</label>
      <label nz-radio nzValue="market.exclusion.severity" class="mr-2">signalement</label>
      <label nz-radio nzValue="market.pairsCount" class="mr-2">[P] totales</label>
      <label nz-radio nzValue="market.pairsForThis" class="mr-2">[P] selection</label>
      <label nz-radio nzValue="pairsUsed" class="mr-2">[P] actives</label>
    </nz-radio-group>
    <nz-switch nzSize="small" [ngModel]="true" nzCheckedChildren="croissant" nzUnCheckedChildren="décroissant" (click)="onChangeOrder()"></nz-switch>
  </p>
</div>

<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>

