<h1>La liste des pairs </h1>
<button class="mb-3" nz-button nzType="primary" [nzLoading]="loading">
  <i nz-icon nzType="search"></i>Pairs trouvés <span class="badge badge-light ml-3">{{pagination.total}}</span>
</button>
<div>
  <div class="mb-3">
    <app-filters-pairs (onUpdate)="onUpdate()" [(request)]="request"></app-filters-pairs>
    <app-pagination
      (onUpdate)="onUpdate()"
      [total]="pagination.total"
      [(paginate)]="pagination.paginate"
      [(index)]="pagination.index"
    ></app-pagination>

    <br>
    <nz-spin nzSize="large" [nzSpinning]="loading">
      <router-outlet></router-outlet>
      <nz-table
        [nzWidthConfig]="['5%','15%','10%','15%','15%','7.5%','7.5%','10%','10%','5%']"
        nzBordered
        [nzData]="pagination.total"
        [nzFrontPagination]="false"
      >
        <thead>
        <tr>
          <th rowspan="4" class="position-relative" [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)">
            <div *ngIf="arrayCheckedPairs.length" style="color:dodgerblue ;position: absolute;transform: translate(37px,-21px);" >{{setOfCheckedId.size}}</div>
          </th>
          <th  rowspan="4">Nom</th>
          <th rowspan="4">Status</th>
          <th colspan="4">Le Spread pour</th>
          <th  colSpan="2" >Markets </th>
          <th rowSpan="4" style="text-align: center;">
            <app-report-pairs (afterUpdate)="onGroupUpdate()" [pairs]="arrayCheckedPairs" [selectMultiple]="true">
              <button nz-button nzType="danger" nzSize="small" ><i  nz-icon nzType="delete"></i></button>
            </app-report-pairs>
          </th>
        </tr>
        <tr>
          <th >Spread usd</th>
          <th >Frequences + vs -</th>
          <th >no volume </th>
          <th >Top 1 </th>
          <th > En DataBase </th>
          <th > En services </th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let pair of pairs">

          <td [nzChecked]="setOfCheckedId.has(pair.name)"
              (nzCheckedChange)="onItemChecked(pair.name, $event)">
          </td>
          <td class="btn-link" style="color: black; cursor: pointer"  (click)="navigate(pair.name)">{{pair.name}}</td>
          <td>
            <nz-tag [nzColor]="colors[pair.exclusion.severity]">
              {{pair.exclusion.severity ? strSeverities[pair.exclusion.severity - 1] : "en service"}}
            </nz-tag>
          </td>
          <td><span><strong > test 1</strong></span></td>
          <td>{{pair[isFor].notEnoughtVolFreq}}</td>
          <td>{{pair[isFor].isBestFreq}}</td>
          <td>{{pairs.length}}</td>
          <td><strong> {{pair.used}}</strong></td>
          <td><strong style="color: #0099ff ;"> {{pair.selected}}</strong></td>
          <td style="text-align: center;">
            <app-report-pairs (afterUpdate)="onUpdate()" *ngIf="pair" [pairs]="[pair]" >
              <button nz-button nzType="danger" nzSize="small" nzShape="circle"><i  nz-icon nzType="delete"></i></button>
            </app-report-pairs>
          </td>
        </tr>
        </tbody>
      </nz-table>

    </nz-spin>
    <br>
    <app-pagination
      (onUpdate)="onUpdate()"
      [total]="pagination.total"
      [(paginate)]="pagination.paginate"
      [(index)]="pagination.index"
    ></app-pagination>
  </div>
</div>
