.market{
  cursor: pointer;
  transition: transform 300ms, box-shadow 0.3s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}
.flex1{
  flex: 1;
}

.flex2{
  margin-left: 5%;
}

.listbuy{
  background-color: #acf88d !important;
  text-align: center;
}
.listsell{
  background-color: #ffcb4d !important;
  text-align: center;
}
.alertBan > td {
  background-color: #ffdada !important;
}
