<!--
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto', paddingBottom: '4rem' }"
  [nzMaskClosable]="true"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="excludePair"
  (nzOnClose)="close()"
>
  <nz-spin [nzSpinning]="!pair" >
    <div *ngIf="pair">

      <div *ngIf="pair.reported" class="card mb-4" [ngStyle]="{borderColor : colorMarket[pair.reported.severityText.severity]}">
        <div class="card-header" [ngStyle]="{borderColor : colorMarket[pair.reported.severityText.severity]}">

          <h6 [ngStyle]="{color :colorMarket[pair.reported.severityText.severity], display : 'inline-block'}">A été signalée &nbsp;</h6>
          <nz-tag [nzColor]="colorMarket[pair.reported.severityText.severity]">
            <i nz-icon nzType="exclamation-circle"></i>
            <span>{{pair.reported.severityText.description | uppercase}}</span>
          </nz-tag>
          <div class="ml-5 d-inline-block">Par : <strong>{{pair.reported.excludeBy}}</strong> </div>
          <div class="ml-5 d-inline-block">Le : <strong>{{pair.reported.date | date}}</strong> </div>
        </div>
        <div class="card-body">
          <nz-divider nzText="Raisons : " nzOrientation="left"></nz-divider>
          <ul>
            <li *ngFor="let textreason of pair.reported.reasonsText">{{textreason.description}}</li>
          </ul>
          <nz-divider nzText="Note : " nzOrientation="left"></nz-divider>
          <p>{{pair.reported.note}}</p>

        </div>
      </div>

      <div *ngIf="!pair.reported" class="card mb-4" style="border-color: green">
        <h6 class="card-header" style="color: green; border-color: green">
          A été signalée : <nz-tag nzColor="success"><i nz-icon nzType="check-circle"></i><span>Non </span></nz-tag>
        </h6>
        <div class="card-body">
          <div><nz-empty [nzNotFoundContent]="null"></nz-empty></div>
        </div>
      </div>

      <div class="card mb-4">
        <h6 class="card-header">Frequence</h6>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A été Positif
              <span class="badge pr-3 pl-3 pt-1 pb-1 badge-success badge-pill">{{pair.frequences.positive}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A été Négatif
              <span class="badge pr-3 pl-3 pt-1 pb-1  badge-danger badge-pill">{{pair.frequences.negative}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A obtenu le plus gros bénéfice :
              <span class="badge pr-3 pl-3 pt-1 pb-1  badge-primary badge-pill">{{pair.frequences.isBest}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="card mb-4">
        <h6 class="card-header">Quand la paire est <strong>Positive</strong> </h6>
        <div class="card-body">
          <h6 class="card-title">Les Moyennes </h6>

          <nz-list nzBordered nzSize="small">
            <nz-list-item >  <nz-divider nzText="Les spreads"></nz-divider> </nz-list-item>


            <nz-list-item let="">
              <nz-list-item-meta
                nzTitle="Spread moyen"
                nzDescription="Représente les gains moyens en {{pair.quote}} pour 1 {{pair.base}} acheté puis revendu"
              ></nz-list-item-meta>
              <kbd>{{pair.ifPositiveSpread.spreadMoyen | number: '1.0-5' | replaceBy : ',' : ' '}} {{pair.quote}}</kbd>
            </nz-list-item>

            <nz-list-item>
              <nz-list-item-meta
                nzTitle="Spread moyen pour 1$ "
                nzDescription="Représente les gains moyens en $ pour 1$ misé"
              ></nz-list-item-meta>
              <kbd>{{pair.ifPositiveSpread.spreadMoyen_1usd | number: '1.0-2' | replaceBy : ',' : ' '}} $</kbd>
            </nz-list-item>

            <nz-list-item>
              <nz-list-item-meta
                nzTitle="Spread moyen pour 15 000$"
                nzDescription="Représente les gains moyens en $ pour 15 000$ misés"
              ></nz-list-item-meta>
              <mark>{{pair.ifPositiveSpread.spreadMoyen_15kusd | number: '1.0-2' | replaceBy : ',' : ' '}} $</mark>
            </nz-list-item>

            <nz-list-item >  <nz-divider nzText="Les volumes"></nz-divider> </nz-list-item>


            <nz-list-item>
              <nz-list-item-meta
                nzTitle="Volume max moyen échangeable"
                nzDescription="Représente le volume maximum moyen en {{pair.base}} echangeable entre deux market "
              ></nz-list-item-meta>
              <kbd>{{pair.ifPositiveSpread.volumeMoyen | number: '1.0-5' | replaceBy : ',' : ' '}} {{pair.base}}</kbd>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta
                nzTitle="Volume max moyen échangeable en $"
                nzDescription="Représente le volume maximum moyen en $ echangeable entre deux market "
              ></nz-list-item-meta>
              <mark>{{pair.ifPositiveSpread.volumeMoyen_usd | number: '1.0-2' | replaceBy : ',' : ' '}} $</mark>
            </nz-list-item>

            <nz-list-item >  <nz-divider nzText="Profits Max"></nz-divider> </nz-list-item>

            <nz-list-item>
              <nz-list-item-meta
                nzTitle="Profit Maximum moyen en $"
                nzDescription="Représente les gains maximums moyens possibles en investissant une somme illimitée"
              ></nz-list-item-meta>
              <span nz-typography>
        <i class="mr-2" nz-icon nzType="thunderbolt" nzTheme="twotone"></i>
        <strong style="color: #0099ff ; font-size: 120%">{{pair.ifPositiveSpread.profitMaxiMoyen_usd | number: '1.0-2' | replaceBy : ',' : ' '}} $</strong>
      </span>
            </nz-list-item>
          </nz-list>

        </div>
      </div>


      <div class="card">
        <h6 class="card-header">Les Markets de cette pair </h6>
        <div class="card-body">
          <nz-list nzBordered nzSize="small">
            <nz-list-item >
              <nz-list-item-meta nzTitle="Markets totals pour cette pair"></nz-list-item-meta>
              <nz-tag nzColor="blue">{{pair.markets.length}}</nz-tag>
            </nz-list-item>
          </nz-list>

          <nz-list nzBordered nzSize="small">
            <nz-list-item >
              <nz-list-item-meta nzTitle="Markets en services pour cette pair"></nz-list-item-meta>
              <nz-tag nzColor="green">{{activatedMarket.length}}</nz-tag>
            </nz-list-item>
          </nz-list>

          <nz-list nzBordered nzSize="small">
            <nz-list-item >
              <nz-list-item-meta nzTitle="Markets hors services pour cette pair"></nz-list-item-meta>
              <nz-tag nzColor="red">{{pair.markets.length - activatedMarket.length}}</nz-tag>
            </nz-list-item>
          </nz-list>
          <br>

          <div class="mb-2">
            <nz-switch nzSize="small" [(ngModel)]="modEdition"></nz-switch> {{modEdition ? 'mode edition' : 'mode visite' }}
          </div>

          <ng-container *ngIf="modEdition">
            <div class="d-inline-block mr-2" *ngFor="let market of pair.markets">
              <nz-badge  [nzCount]="market.exclusion.exchangeIsExclude && market.excludeFromPair?.severity === 4 ? 2 : 0">
                <app-btn-ban-symbole [pair]="pair" [markets_id]="[market.id_exchange]" (afterUpdate)="onValuesChanges()">
                  <nz-tag class="mb-2 mr-0 market"
                          [nzColor]="colorMarket[
                          market.exclusion.severity === 4 ? 4 : 0 ||
                          market.excludeFromPair?.severity ? market.excludeFromPair.severity  : 0 ]"
                  >
                    {{market.id_exchange}}

                  </nz-tag>
                </app-btn-ban-symbole>
              </nz-badge>
            </div>
          </ng-container>

          <ng-container *ngIf="!modEdition">
            <a href="/markets/{{market.id_exchange}}" target="_blank" class="d-inline-block mr-2" *ngFor="let market of pair.markets">
              <nz-badge  [nzCount]="market.exclusion.exchangeIsExclude && market.excludeFromPair?.severity === 4 ? 2 : 0">
                <nz-badge [nzDot]="!!market.excludeFromPair" [nzStyle]="{ backgroundColor: colorMarket[market.excludeFromPair?.severity || 0] }" >
                  <nz-tag class="mb-2 mr-0 market"
                          [nzColor]="colorMarket[
                          market.exclusion.severity === 4 ? 4 : 0 ||
                          market.excludeFromPair?.severity ? market.excludeFromPair.severity  : 0 ]"
                  >
                    {{market.id_exchange}}

                  </nz-tag>
                </nz-badge>
              </nz-badge>
            </a>
          </ng-container>

        </div>
        <nz-divider nzText="Classement des markets pour la pair {{pair.name}}"></nz-divider>
        <br>
        <nz-radio-group class="ml-3 mb-2" (ngModelChange)="makeAverages($event)" [ngModel]="sorter.moyenne" nzName="radiogroup">
          <label nz-radio nzValue="1k">1k $</label>
          <label nz-radio nzValue="15k">15k $</label>
          <label nz-radio nzValue="30k">30k $</label>
        </nz-radio-group>
        <div style="transform: translateX(-52px)" class="mt-2">
          <pagination-controls (pageChange)="page = $event" (pageBoundsCorrection)="page = $event"
                               [autoHide]="true" previousLabel="préc" nextLabel="suiv"></pagination-controls>
        </div>
          <div nz-row>
            <aside nz-col [nzSpan]="12">
              <h6 class="text-center" style="color: limegreen">ACHAT</h6>
              <ul class="list-group">
                <li *ngFor="let average of tabAverages.buy | paginate : {itemsPerPage:10, currentPage : page }" class="list-group-item p-0"
                >
                  <div class="d-flex align-items-md-center" [ngStyle]="{ backgroundColor : average.exclude ? 'rgb(252,153,153)' : 'white'}">
                    <span style="min-width: 20px" class="flex2 mt-2 mb-2 mr-2">
                      <app-btn-ban-symbole (afterUpdate)="onValuesChanges()" [markets_id]="[average.exchange]" [pair]="pair" >
                        <button nz-button nzType="default" nzSize="small" nzShape="circle"><i  nz-icon nzType="delete"></i></button>
                      </app-btn-ban-symbole>
                    </span>
                    <a href="/markets/{{average.exchange}}" target="_blank" style="color: black" class="d-flex ant-row-space-between align-items-md-center flex1 p-2">
                      <span>{{average.exchange}}</span>
                      <div class="d-inline-block">
                        <div><nz-tag nzColor="green" class="m-0"><strong> {{average.buy['prixMoyen_for'+sorter.moyenne+'usd_quote']  | exponentiel : 6 }}</strong> {{pair.quote}}</nz-tag></div>
                        <div><nz-tag style="width: 100%;" nzColor="default" class="m-0">vol : <strong> {{average.buy['volumeMoyen_for'+sorter.moyenne+'usd']  | exponentiel : 1 }}</strong> USD</nz-tag></div>
                      </div>
                    </a>

                  </div>
                </li>
              </ul>
            </aside>

            <aside nz-col [nzSpan]="12">
              <h6 class="text-center" style="color: red">VENTE</h6>
              <ul class="list-group">
                <li *ngFor="let average of tabAverages.sell | paginate : {itemsPerPage:10, currentPage : page }" class="list-group-item p-0"
                >
                  <div class="d-flex align-items-md-center" [ngStyle]="{ backgroundColor : average.exclude ? 'rgb(252,153,153)' : 'white'}">
                    <span style="min-width: 20px" class="flex2 mt-2 mb-2 mr-2">
                      <app-btn-ban-symbole (afterUpdate)="onValuesChanges()" [markets_id]="[average.exchange]" [pair]="pair" >
                        <button nz-button nzType="default" nzSize="small" nzShape="circle"><i  nz-icon nzType="delete"></i></button>
                      </app-btn-ban-symbole>
                    </span>
                    <a href="/markets/{{average.exchange}}" target="_blank" style="color: black" class="d-flex ant-row-space-between align-items-md-center flex1 p-2">
                      <span>{{average.exchange}}</span>
                      <div class="d-inline-block">
                        <div><nz-tag nzColor="red" class="m-0"><strong> {{average.sell['prixMoyen_for'+sorter.moyenne+'usd_quote']  | exponentiel : 6 }}</strong> {{pair.quote}}</nz-tag></div>
                        <div><nz-tag style="width: 100%;" nzColor="default" class="m-0">vol : <strong> {{average.sell['volumeMoyen_for'+sorter.moyenne+'usd']  | exponentiel : 1 }}</strong> USD</nz-tag></div>
                      </div>
                    </a>

                  </div>
                </li>
              </ul>
            </aside>

        </div>

      </div>


    </div>
  </nz-spin>

</nz-drawer>

&lt;!&ndash;-&#45;&#45;&#45;&#45;Templates-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
<ng-template #excludePair>
  <div *ngIf="pair">
    <span class="mr-3">{{pair.name}}</span>
    <app-btn-ban-symbole (afterUpdate)="onValuesChanges()" class="mr-2" *ngIf="pair" [pair]="pair" [markets_id]="['*']">
      <button nz-button nzType="danger" nzShape="circle"><i  nz-icon nzType="delete"></i></button>
    </app-btn-ban-symbole>
    <nz-tag *ngIf="pair.exclusion.pairIsExclude" nzColor="red">éliminée</nz-tag>
    <div (click)="onValuesChanges()" style="cursor: pointer" class="d-inline-block ml-2" nz-popover nzPopoverContent="rafraichir">
      <i nz-icon nzType="redo" [nzSpin]="dataLoading" style="color: dodgerblue" nzTheme="outline"></i>
    </div>
  </div>
</ng-template>
-->
