<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto', paddingBottom: '4rem' }"
  [nzMaskClosable]="true"
  [nzWidth]="780"
  [nzVisible]="visible"
  [nzTitle]="excludePair"
  (nzOnClose)="close()"
>
  <nz-spin [nzSpinning]="!pair" >
    <div *ngIf="pair">

      <aside class="mt-2 mb-3">
         <nz-radio-group nzName="isFor" [(ngModel)]="isFor" (ngModelChange)="makeList()" >
          <label nz-radio-button nzValue="for1k">1000 $</label>
          <label nz-radio-button nzValue="for15k">15 000 $</label>
          <label nz-radio-button nzValue="for30k">30 000 $</label>
        </nz-radio-group>
      </aside>

      <div *ngIf="pair.exclusion.severityPlus.severity" class="card mb-4" [ngStyle]="{borderColor : colors[pair.exclusion.severityPlus]}">
        <div class="card-header" [ngStyle]="{borderColor : colors[pair.exclusion.severityPlus]}">

          <h6 [ngStyle]="{color :colors[pair.exclusion.severityPlus], display : 'inline-block'}">A été signalée &nbsp;</h6>
          <nz-tag [nzColor]="colors[pair.exclusion.severityPlus]">
            <i nz-icon nzType="exclamation-circle"></i>
            <span>{{pair.exclusion.severityPlus.description | uppercase}}</span>
          </nz-tag>
          <div class="ml-5 d-inline-block">Par : <strong>{{pair.exclusion.excludeBy}}</strong> </div>
          <div class="ml-5 d-inline-block">Le : <strong>{{pair.exclusion.date | date}}</strong> </div>
        </div>
        <div class="card-body">
          <nz-divider nzText="Raisons : " nzOrientation="left"></nz-divider>
          <ul>
            <li *ngFor="let reason of pair.exclusion.reasonsPlus">{{reason.description}}</li>
          </ul>
          <nz-divider nzText="Note : " nzOrientation="left"></nz-divider>
          <p>{{pair.exclusion.note}}</p>

        </div>
      </div>

      <div *ngIf="!pair.exclusion.severityPlus.severity" class="card mb-4" style="border-color: green">
        <h6 class="card-header" style="color: green; border-color: green">
          A été signalée : <nz-tag nzColor="success"><i nz-icon nzType="check-circle"></i><span>Non </span></nz-tag>
        </h6>
        <div class="card-body">
          <div><nz-empty [nzNotFoundContent]="null"></nz-empty></div>
        </div>
      </div>

      <div class="card mb-4">
        <h6 class="card-header">Frequence</h6>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A été Positif
              <nz-tag nzColor="green">{{pair[isFor].positiveFreq}}</nz-tag>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A été Négatif
              <nz-tag nzColor="red">{{pair[isFor].negativeFreq}}</nz-tag>
            </li>
          </ul>
        </div>
      </div>

      <aside class="mt-2 mb-3">
         <nz-radio-group nzName="isFor" [(ngModel)]="isFor" (ngModelChange)="makeList()" >
          <label nz-radio-button nzValue="for1k">1000 $</label>
          <label nz-radio-button nzValue="for15k">15 000 $</label>
          <label nz-radio-button nzValue="for30k">30 000 $</label>
        </nz-radio-group>
      </aside>

      <div class="card mb-4">
        <h6 class="card-header">Quand la paire est <strong>Positive</strong> </h6>
        <div class="card-body">
          <h6 class="card-title">Les Moyennes </h6>

          <nz-list nzBordered nzSize="small">
            <nz-list-item >  <nz-divider nzText="Les spreads"></nz-divider> </nz-list-item>


            <nz-list-item let="">
              <nz-list-item-meta
                nzTitle="Spread en quote pour {{isFor}}"
                nzDescription="Représente les gains moyens en {{pair.quote.name}} pour {{isFor}}$ de {{pair.base.name}} acheté puis revendu"
              ></nz-list-item-meta>
              <kbd>{{pair[isFor].spreadMoyen_quote | exponentiel : 7}} {{pair.quote.name}}</kbd>
            </nz-list-item>

            <nz-list-item>
              <nz-list-item-meta
                nzTitle="Spread moyen en $ pour {{isFor}} "
                nzDescription="Représente les gains moyens {{isFor}} $ investis"
              ></nz-list-item-meta>
              <kbd>{{pair[isFor].spreadMoyen_usd | exponentiel : 2}} $</kbd>
            </nz-list-item>

            <nz-list-item>
              <nz-list-item-meta
                nzTitle="Profit max en 1 coup"
                nzDescription="Représente les gains max $ gagnés en 1 coup"
              ></nz-list-item-meta>
              <span nz-typography>
                <i class="mr-2" nz-icon nzType="thunderbolt" nzTheme="twotone"></i>
                <strong style="color: #0099ff ; font-size: 120%">{{pair[isFor].hightestSpread_usd | exponentiel : 2}} $</strong>
              </span>
            </nz-list-item>

            <nz-list-item >  <nz-divider nzText="Les volumes"></nz-divider> </nz-list-item>


            <nz-list-item>
              <nz-list-item-meta
                nzTitle="Volume moyen {{isFor}}$ en {{pair.base.name}}"
                nzDescription="Représente la qté moyenne de {{pair.base.name}} pour {{isFor}}$ "
              ></nz-list-item-meta>
              <kbd>{{pair[isFor].volumeMoyen_base | exponentiel : 7}} {{pair.base.name}}</kbd>
            </nz-list-item>
          </nz-list>

        </div>
      </div>

      <aside class="mt-2 mb-3">
         <nz-radio-group nzName="isFor" [(ngModel)]="isFor" (ngModelChange)="makeList()" >
          <label nz-radio-button nzValue="for1k">1000 $</label>
          <label nz-radio-button nzValue="for15k">15 000 $</label>
          <label nz-radio-button nzValue="for30k">30 000 $</label>
        </nz-radio-group>
      </aside>

      <div class="card">
        <h6 class="card-header">Les Markets de cette pair </h6>
        <div class="card-body">
          <nz-list nzBordered nzSize="small">
            <nz-list-item >
              <nz-list-item-meta nzTitle="Les markets enregistrés où cette pair est présente"></nz-list-item-meta>
              <nz-tag nzColor="blue">{{pair.marketsForThis}}</nz-tag>
            </nz-list-item>
          </nz-list>

          <nz-list nzBordered nzSize="small">
            <nz-list-item >
              <nz-list-item-meta nzTitle="Les markets en enregistrés où cette paire est en service"></nz-list-item-meta>
              <nz-tag nzColor="green">{{marketsOn}}</nz-tag>
            </nz-list-item>
          </nz-list>

          <nz-list nzBordered nzSize="small">
            <nz-list-item >
              <nz-list-item-meta nzTitle="Markets hors services pour cette pair"></nz-list-item-meta>
              <nz-tag nzColor="red">{{pair.marketsForThis - marketsOn}}</nz-tag>
            </nz-list-item>
          </nz-list>
          <br>

          <ng-container>
            <a href="/markets/{{symbol.market.name}}" target="_blank" class="d-inline-block mr-2" *ngFor="let symbol of symbols">
                <nz-badge [nzDot]="!!symbol.market.exclusion.isExclude">
                  <nz-tag class="mb-2 mr-0 market"
                          [nzColor]="colors[
                          symbol.market.exclusion.severity === 4 ? 4 : 0 ||
                          symbol.exclusion.severity ]"
                  >
                    {{symbol.market.name}}

                  </nz-tag>
                </nz-badge>

            </a>
          </ng-container>

        </div>
        <nz-divider nzText="Classement des markets pour la pair {{pair.name}}"></nz-divider>
        <br>

        <nz-radio-group class="ml-3 mb-2" (ngModelChange)="makeList($event)" [(ngModel)]="list.sorter" nzName="radiogroup">
          <label nz-radio nzValue="bestMarketFreq">Top 1</label>
          <label nz-radio nzValue="prixMoyen_quote">Prix Moyen $</label>
          <nz-switch nzSize="small" nzCheckedChildren="en services" nzUnCheckedChildren="tous" [(ngModel)]="list.maskOff" (ngModelChange)="makeList()"></nz-switch>
        </nz-radio-group>

        <nz-input-group class="ml-3 mt-2 mb-3" style="width: 15rem" [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="chercher" (ngModelChange)="makeList(undefined,$event)" [(ngModel)]="list.search" />
        </nz-input-group>
        <ng-template #suffixIconSearch><i nz-icon nzType="search"></i></ng-template>

          <div nz-row style="min-height: 500px">
            <aside nz-col [nzSpan]="12" >
              <h6 class="text-center m0" style="color: limegreen">ACHAT</h6>
              <nz-table #buyTablee
                        [nzData]="list.buy"
                        nzSize="small"
                        [(nzPageSize)]="paginate.pageSize"
                        nzShowSizeChanger
                        [(nzPageIndex)]="paginate.pageIndex"
              >
                <thead >
                <tr >
                  <th class="listbuy"><i nz-icon nzType="delete" nzTheme="outline"></i></th>
                  <th class="listbuy">prix moyen </th>
                  <th class="listbuy">top 1</th>
                  <th class="listbuy">Market</th>
                </tr>
                </thead>
                <tbody>
                <tr  style="font-weight: 500" [ngClass]="{alertBan : symb.exclusion.isExclude || symb.market.exclusion.isExclude  }"
                     *ngFor="let symb of buyTablee.data; let i = index">
                  <td style="text-align: left">
                    <app-report-symbols (afterUpdate)="onUpdate()" class="mr-2" *ngIf="pair" [symbols]="[symb]" [selectMultiple]="false" >
                      <nz-badge [nzDot]="symb.exclusion.severity > 0"  [nzStyle]="{ backgroundColor: colors[symb.exclusion.severity]}">
                        <button nz-button nzShape="circle" nzSize="small"><i  nz-icon nzType="delete"></i></button>
                      </nz-badge>
                    </app-report-symbols>
                  </td>
                  <td style="color: green">{{ symb[isFor].buy.prixMoyen_quote | exponentiel : 4}} {{pair.quote.name}}</td>
                  <td>
                    <nz-tag nzColor="blue">
                      <strong>{{ symb[isFor].buy.bestMarketFreq }}</strong> / {{ symb[isFor].buy.okFreq +  symb[isFor].buy.notEnoughVolFreq + symb[isFor].buy.notDataFreq }}
                    </nz-tag>
                  </td>
                  <td style="text-align: right">
                   {{ symb.market.name }} &nbsp; <span class="badge badge-success">{{i + 1 + paginate.pageSize * (paginate.pageIndex - 1)}}</span>
                  </td>

                </tr>
                </tbody>
              </nz-table>
            </aside>

            <aside nz-col [nzSpan]="12">
              <h6 class="text-center" style="color: #ffbb00">VENTE</h6>
              <nz-table #sellTable
                        [nzData]="list.sell"
                        nzSize="small"
                        [(nzPageSize)]="paginate.pageSize"
                        nzShowSizeChanger
                        [(nzPageIndex)]="paginate.pageIndex"
              >
                <thead >
                <tr >
                  <th class="listsell">Market</th>
                  <th class="listsell">top 1</th>
                  <th class="listsell">prix moyen </th>
                  <th class="listsell"><i nz-icon nzType="delete" nzTheme="outline"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr  style="font-weight: 500" [ngClass]="{alertBan : symb.exclusion.isExclude || symb.market.exclusion.isExclude  }"
                     *ngFor="let symb of sellTable.data; let i = index">
                  <td>
                    <span class="badge badge-warning">{{i + 1 + paginate.pageSize * (paginate.pageIndex - 1)}}</span>&nbsp;{{ symb.market.name }}
                  </td>
                  <td><nz-tag nzColor="blue"><strong>{{ symb[isFor].sell.bestMarketFreq }}</strong> / {{ symb[isFor].sell.okFreq +  symb[isFor].sell.notEnoughVolFreq + symb[isFor].sell.notDataFreq }}</nz-tag></td>
                  <td style="color: #ffbb00">{{ symb[isFor].sell.prixMoyen_quote | exponentiel : 4}} {{pair.quote.name}}</td>
                  <td style="text-align: right">
                    <app-report-symbols  (afterUpdate)="onUpdate()" class="mr-2" *ngIf="pair" [symbols]="[symb]" [selectMultiple]="false" >
                      <nz-badge [nzDot]="symb.exclusion.severity > 0"  [nzStyle]="{ backgroundColor: colors[symb.exclusion.severity]}">
                        <button nz-button nzShape="circle" nzSize="small"><i  nz-icon nzType="delete"></i></button>
                      </nz-badge>
                    </app-report-symbols>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </aside>

            <aside class="mt-2 mb-3">
               <nz-radio-group nzName="isFor" [(ngModel)]="isFor" (ngModelChange)="makeList()" >
                <label nz-radio-button nzValue="for1k">1000 $</label>
                <label nz-radio-button nzValue="for15k">15 000 $</label>
                <label nz-radio-button nzValue="for30k">30 000 $</label>
              </nz-radio-group>
            </aside>
        </div>
      </div>

    </div>
  </nz-spin>

</nz-drawer>

<!-------Templates----------->
<ng-template #excludePair>
  <div *ngIf="pair">
    <span class="mr-3">{{pair.name}}</span>
    <app-report-pairs (afterUpdate)="onUpdate()" class="mr-2" *ngIf="pair" [pairs]="[pair]" >
      <button nz-button nzType="danger" nzShape="circle"><i  nz-icon nzType="delete"></i></button>
    </app-report-pairs>
    <nz-tag *ngIf="pair.exclusion.isExclude" nzColor="red">éliminée</nz-tag>

    <div (click)="onUpdate()" style="cursor: pointer" class="d-inline-block ml-2" nz-popover nzPopoverContent="rafraichir">
      <i nz-icon nzType="redo" [nzSpin]="loading" style="color: dodgerblue" nzTheme="outline"></i>
    </div>
  </div>
</ng-template>
